In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kaunteya\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\kaunteya\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [2]:
!pip install pillow

Requirement already satisfied: pillow in c:\users\kaunteya\anaconda3\lib\site-packages (8.4.0)

In [5]:
import pyspark

In [6]:
import pandas as pd

In [11]:
import sys, os
cwd = os.getcwd()
print(cwd)

C:\Users\KAUNTEYA

In [20]:
df = pd.read_csv("C:/Users/KAUNTEYA/test-pyspark.csv")
df.head()

        name  age
0     krish    31
1  sudhanshu   30
2   kaunteya   24
3     amrita   25

In [21]:
from pyspark.sql import SparkSession

In [22]:
spark = SparkSession.builder.appName('Practice1') \
                    .getOrCreate()

In [23]:
spark

In [40]:
df_pyspark1 = spark.read.option("header", "true").csv('tips.csv')
df_pyspark1.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [41]:
df_pyspark1.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)


## Tutorial 2

In [31]:
from pyspark.sql import SparkSession

In [34]:
spark = SparkSession.builder \
        .appName("DataFramePractise1") \
        .getOrCreate()

In [35]:
spark

In [98]:
## Read the dataset 
# one by read
# one by 

df_pyspark = spark.read.option("header", "True") \
            .csv('test1.csv', inferSchema=True)

# output will be : DataFrame[name: string, age: string, exp: string]

df_pyspark.show()

+---------+---+---+
|     name|age|exp|
+---------+---+---+
|   krish | 31| 10|
|sudhanshu| 30|  9|
| kaunteya| 24|  3|
|   amrita| 25|  1|
+---------+---+---+

In [99]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [100]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+---+
|     name|age|exp|
+---------+---+---+
|   krish | 31| 10|
|sudhanshu| 30|  9|
| kaunteya| 24|  3|
|   amrita| 25|  1|
+---------+---+---+

In [101]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [102]:
# selecting columsn and indexing

In [103]:
df_pyspark.columns

['name', 'age', 'exp']

In [104]:
df_pyspark.head(3) # we will get result in list format, in pandas we get it dataframe format

[Row(name='krish ', age=31, exp=10),
 Row(name='sudhanshu', age=30, exp=9),
 Row(name='kaunteya', age=24, exp=3)]

In [105]:
# how do we pick up a columns

In [106]:
df_pyspark.show()

+---------+---+---+
|     name|age|exp|
+---------+---+---+
|   krish | 31| 10|
|sudhanshu| 30|  9|
| kaunteya| 24|  3|
|   amrita| 25|  1|
+---------+---+---+

In [107]:
df_pyspark.select(['name', 'age']).show()

# or
df_pyspark.select('name', 'age').show()

+---------+---+
|     name|age|
+---------+---+
|   krish | 31|
|sudhanshu| 30|
| kaunteya| 24|
|   amrita| 25|
+---------+---+

+---------+---+
|     name|age|
+---------+---+
|   krish | 31|
|sudhanshu| 30|
| kaunteya| 24|
|   amrita| 25|
+---------+---+

In [108]:
df_pyspark['name']

Column<'name'>

In [109]:
df_pyspark['name'].show()

TypeError: 'Column' object is not callable

In [110]:
 df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('exp', 'int')]

In [111]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string, exp: string]

In [112]:
df_pyspark.describe().show()

+-------+---------+------------------+-----------------+
|summary|     name|               age|              exp|
+-------+---------+------------------+-----------------+
|  count|        4|                 4|                4|
|   mean|     null|              27.5|             5.75|
| stddev|     null|3.5118845842842465|4.425306015783918|
|    min|   amrita|                24|                1|
|    max|sudhanshu|                31|               10|
+-------+---------+------------------+-----------------+

In [113]:
## adding columns and dropping columns in dataframe:: pyspark dataframe

In [114]:
df_pyspark.withColumn('exp after 2 yrs', df_pyspark['exp']+2) # this is not a inplace operation, we have to assign to df

DataFrame[name: string, age: int, exp: int, exp after 2 yrs: int]

In [115]:
df_pyspark.withColumn('exp after 2 yrs', df_pyspark['exp']+2).show()

+---------+---+---+---------------+
|     name|age|exp|exp after 2 yrs|
+---------+---+---+---------------+
|   krish | 31| 10|             12|
|sudhanshu| 30|  9|             11|
| kaunteya| 24|  3|              5|
|   amrita| 25|  1|              3|
+---------+---+---+---------------+

In [116]:
## Dropping
df_pyspark = df_pyspark.drop('exp after 2 yrs')
df_pyspark.show()
# not inplace ops, assign to variable

+---------+---+---+
|     name|age|exp|
+---------+---+---+
|   krish | 31| 10|
|sudhanshu| 30|  9|
| kaunteya| 24|  3|
|   amrita| 25|  1|
+---------+---+---+

In [117]:
## renaming

df_pyspark = df_pyspark.withColumnRenamed('name', 'newName')

In [118]:
df_pyspark.show()

+---------+---+---+
|  newName|age|exp|
+---------+---+---+
|   krish | 31| 10|
|sudhanshu| 30|  9|
| kaunteya| 24|  3|
|   amrita| 25|  1|
+---------+---+---+

## Part 3 :: filter operations

In [119]:
from pyspark.sql import SparkSession
saprk = SparkSession.builder.appName('Practice2').getOrCreate()

In [150]:
df2 = spark.read.csv('test2.csv', header=True, inferSchema=True)
df2.show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  34|null|  null|
+---------+----+----+------+

In [151]:
## drop
type(df2)

pyspark.sql.dataframe.DataFrame

In [152]:
df2.drop('name').show()

+----+----+------+
| age| exp|salary|
+----+----+------+
|  31|  10| 30000|
|  30|   9| 35000|
|  24|   3| 60000|
|  25|   1| 35000|
|null|null| 40000|
|  34|  10| 38000|
|  34|null|  null|
+----+----+------+

In [153]:
df2.show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  34|null|  null|
+---------+----+----+------+

In [154]:
df2.na.drop(how="all", thresh=2).show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
+---------+----+----+------+

In [155]:
df2.show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  34|null|  null|
+---------+----+----+------+

In [156]:
# subset

In [157]:
df2.na.drop(how="all", subset=['exp']).show()

+---------+---+---+------+
|     name|age|exp|salary|
+---------+---+---+------+
|   krish | 31| 10| 30000|
|sudhanshu| 30|  9| 35000|
| kaunteya| 24|  3| 60000|
|   amrita| 25|  1| 35000|
|     null| 34| 10| 38000|
+---------+---+---+------+

In [158]:
df2.show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  34|null|  null|
+---------+----+----+------+

In [159]:
df2 = df2.na.fill("N/A", subset=['age']).show()

+---------+----+----+------+
|     name| age| exp|salary|
+---------+----+----+------+
|   krish |  31|  10| 30000|
|sudhanshu|  30|   9| 35000|
| kaunteya|  24|   3| 60000|
|   amrita|  25|   1| 35000|
|   mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  34|null|  null|
+---------+----+----+------+